  {% set moment = use('moment/moment') %}
{% extends 'manage.layouts.default' %}

{% block css %}
<title>{{  shortif( inventory , inventory.name + ' - ' + company.name , antl.get('index.title') ) }}</title>
    <link rel="stylesheet" href="{{ url('library/uniform/dist/css/default.css') }}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{{ url('css/addon/customize.css') }}" />
    <link rel="stylesheet" href="{{ url('css/addon/approved.css') }}" />
{% endblock %}
{% block content %}
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content" >
                    <div class="uk-grid" data-uk-grid-margin="" id="form-action">
                    <div class="uk-width-medium-2-10">
                        <label for="date_voucher_search">{{ antl.get('inventory_voucher.date_voucher') }}</label>
                        <input class="md-input" type="text" name="date_voucher_search" data-uk-datepicker="{format:'DD/MM/YYYY'}">
                    </div>
                        <div class="uk-width-medium-1-10">
                            <label for="voucher_search">{{ antl.get('inventory_voucher.voucher') }}</label>
                            <input type="text" class="md-input" name="voucher_search">
                        </div>
                        <div class="uk-width-medium-2-10">
                            <label for="customer_search">{{ antl.get('inventory_voucher.subject') }}</label>
                            <input type="text" class="md-input" name="customer_search">
                        </div>
                        <div class="uk-width-medium-2-10">
                            <div class="uk-margin-small-top">
                                <select name="status_search" id="status_search" data-md-selectize multiple data-md-selectize-bottom>
                                <option value="">{{ antl.get('inventory_voucher.status') }}</option>
                                <option value="0">{{ antl.get('action.not_accepted') }}</option>
                                <option value="1">{{ antl.get('action.accepted') }}</option>
                                <option value="2">{{ antl.get('action.completed') }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-10">
                            <div class="uk-margin-top uk-text-nowrap">
                                <input type="checkbox" name="active_search" data-md-icheck/>
                                <label for="active_search" class="inline-label">{{ antl.get('action.active') }}</label>
                            </div>
                        </div>
                        <div class="uk-width-medium-2-10 uk-text-center">
                            <a href="javascript:;" id="filter" class="md-btn md-btn-primary uk-margin-small-top">{{ antl.get('action.filter') }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <div class="uk-overflow-container">
                                <table class="uk-table uk-table-align-vertical">
                                    <thead>
                                        <tr>
                                        <th>{{ antl.get('inventory_voucher.date_voucher') }}</th>
                                        <th>{{ antl.get('inventory_voucher.voucher') }}</th>
                                        <th>{{ antl.get('inventory_voucher.description') }}</th>
                                        <th>{{ antl.get('inventory_voucher.subject') }}</th>
                                        <th>{{ antl.get('inventory_voucher.total_number') }}</th>
                                        <th>{{ antl.get('inventory_voucher.total_amount') }}</th>
                                        <th>{{ antl.get('inventory_voucher.status') }}</th>
                                        <th>{{ antl.get('action.active') }}</th>
                                        <th>{{ antl.get('global.action') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="load hidden">
                                        <td></td>
                                        <td></td>
                                        <td class="uk-text-large uk-text-nowrap"><a href="javascript:;"></a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="uk-text-nowrap"><span class="uk-badge uk-badge-success"></span></td>
                                        <td><i class="material-icons md-color-light-blue-600 md-24"></i></td>
                                        <td class="uk-text-nowrap">
                                            <a data-id="1" class="print" href="javascript:;"><i class="material-icons md-24">print</i></a>
                                        </td>
                                    </tr>
                                    {% for d in data.data %}
                                    <tr>
                                        <td>{{ moment(d.date_voucher, "YYYY-MM-DD").format('DD/MM/YYYY') }}</td>
                                        <td>{{d.voucher}}</td>
                                        <td class="uk-text-large uk-text-nowrap"><a href="javascript:;">{{d.description}}</a></td>
                                        <td>{{d.subject}}</td>
                                        <td>{{d.total_number}}</td>
                                        <td>{{antl.formatNumber(d.total_amount)}}</td>
                                        {% if d.status == 0 %}
                                        <td class="uk-text-nowrap"><span class="uk-badge uk-badge-muted">{{ antl.get('action.not_accepted') }}</span></td>
                                        {% elseif d.status == 1 %}
                                        <td class="uk-text-nowrap"><span class="uk-badge uk-badge-info">{{ antl.get('action.accepted') }}</span></td>
                                        {% elseif d.status == 2 %}
                                        <td class="uk-text-nowrap"><span class="uk-badge uk-badge-info">{{ antl.get('action.completed') }}</span></td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        {% if d.active == 1 %}
                                        <td><i class="material-icons md-color-light-blue-600 md-24"></i></td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        <td class="uk-text-nowrap">
                                            <a data-id="{{d.id}}" class="print" href="javascript:;"><i class="material-icons md-24">print</i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                              <ul class="uk-pagination  uk-margin-medium-top uk-margin-medium-bottom" data-uk-pagination="{pages: {{data.page}} ,lblPrev : '<' ,lblNext : '>'}"></ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <! -- PRINT FORM -->
        <div id="printbill" class="hidden">
          <div>
          <img src="{{url('images/logo-intem.png')}}">
          <p class='name'>{{ inventory.name + ' - ' + company.name }}</p>
          <p >Khách hàng: <span class='customer_p clear'></span></p>
          <p >Số phiếu: <span class='voucher_p clear'></span> - Ngày: <span class='date_p clear'></span></p>
          <p >Ca : <span class='shift_p clear'></span> - Thu ngân: <span class='user_p clear'></span></p>
          </div>
                <table>
                    <thead style="font-size:12px; border-bottom:1px solid black">
                          <th style="padding-right:10px ; padding-top : 10px ; border-bottom:1px solid black">{{antl.get('inventory_voucher.item_name')}}</th>
                          <th style="padding-right:15px ; padding-top : 10px; border-bottom:1px solid black">{{antl.get('inventory_voucher.price')}}</th>
                          <th style="padding-right:10px ; padding-top : 10px; border-bottom:1px solid black">{{antl.get('inventory_voucher.quantity')}}</th>
                          <th style="padding-right:10px ; padding-top : 10px; border-bottom:1px solid black">{{antl.get('inventory_voucher.amount')}}</th>
                    </thead>
                        <tbody>

                        </tbody>
                </table>
                  <span class='clear'>Thank you & see you again !</span>
          </div>
        <! -- PRINT FORM -->

        {% endblock %}
        {% block scripts %}
        <script>
        jQuery(document).ready(function () {
            Ermis.per = JSON.parse('{{ permission | safe }}');
            Ermis.link = "{{ key }}";
            Ermis.room = "{{ room }}";
        });
        </script>
        <script src="{{ url('library/kendoui/js/kendo.all.min.js') }}"></script>
        <script src="{{ url('scripts/uikit.min.js') }}"></script>
        <script src="{{ url('scripts/ukit_pagination.js') }}"></script>
        <script src="{{ url('scripts/JsBarcode.all.min.js') }}"></script>
        <script src="{{ url('library/jquery.print/jQuery.print.js') }}"></script>
        <script src="{{ url('scripts/addon/backend/printbill.js') }}"></script>
        {% endblock %}
